<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
	<title>{%- if taxonomy.name -%}{{ taxonomy.name ~ ' | ' ~ site.title }}{%- else -%}{{ site.title }}{%- endif -%}</title>
	<link href="{{ site.url }}{{ taxonomy.url }}feed/" rel="self" />
	<link href="{{ site.url }}{{ taxonomy.url }}" />
	<id>{{ site.url }}{{ taxonomy.url }}</id>
	<updated>{{ taxonomy.lastmod|date('c') }}</updated>
{% if taxonomy.url|length > 0 -%}
	<link href="{{ site.websuburl }}" rel="hub" />
{%- endif %}

{% for post in posts %}
	<entry>
		<title>{% if post.title %}{{ post.title }}{% endif%}</title>
		<link href="{{ site.url }}/{{ post.slug }}/" />
		<id>{{ site.url }}/{{ post.slug }}</id>
		<updated>{{ post.published|date('c') }}</updated>
{%- if post.summary|length > 0 %}
		<summary type="xhtml">
			<div xmlns="http://www.w3.org/1999/xhtml">
				{{ post.sumhtml }}>
			</div>
		</summary>
{%- endif %}
		<content type="xhtml">
			<div xmlns="http://www.w3.org/1999/xhtml">
				{{ post.html }}
			</div>
		</content>
		<author>
			<name>{{ site.author.name }}</name>
			<email>{{ site.author.email }}</email>
		</author>
{%- if post.rssenclosure %}
		<link rel="enclosure"
			type="{{ post.rssenclosure.mime }}"
			title="{{ post.rssenclosure.fname }}"
			href="{{ post.rssenclosure.url }}"
			length="{{ post.rssenclosure.size }}" />
{% endif -%}
	</entry>
{% endfor %}
</feed>
