{% if post.reactions.bookmark %}
	{% for reaction in post.reactions.bookmark %}
		{% if post.title|length %}
			<h2 class="p-name">{{ post.title }}</h2>
			<p>
			<svg class="icon"><use xlink:href="#icon-bookmark" /></svg>
			<a href="{{ reaction }}" class="u-bookmark-of" title="Bookmarked URL: {{ reaction }}">{{ reaction }}</a>
			</p>
		{% else %}
			<p class="p-name">
				<svg class="icon"><use xlink:href="#icon-bookmark" /></svg>
				<a href="{{ reaction }}" class="{{ class }}">{{ reaction }}</a>
			</p>
		{% endif %}
	{% endfor %}
{% endif %}

{% if post.reactions.reply %}
	{% for reaction in post.reactions.reply %}
		<p class="p-name">
			<svg class="icon"><use xlink:href="#icon-reply" /></svg>
			<a href="{{ reaction }}" class="u-in-reply-to" title="Reply to: {{ reaction }}">{{ reaction }}</a>
		</p>
	{% endfor %}
{% endif %}

{% if post.reactions.repost %}
	{% for reaction in post.reactions.repost %}
		{% if post.title|length %}
			<h2 class="p-name">{{ post.title }}</h2>
			<p>
			<svg class="icon"><use xlink:href="#icon-repost" /></svg>
			<a href="{{ reaction }}" class="u-repost-of" title="Repost of: {{ reaction }}">{{ reaction }}</a>
			</p>
		{% else %}
			<p>
			<svg class="icon"><use xlink:href="#icon-repost" /></svg>
			<span class="p-name">
				<a href="{{ reaction }}" class="u-repost-of" title="Repost of: {{ reaction }}">{{ reaction }}</a>
			</span>
			</p>
		{% endif %}
	{% endfor %}
{% endif %}

{% if post.reactions.fav %}
	{% for reaction in post.reactions.fav %}
		{% if post.title|length %}
			<h2 class="p-name">{{ post.title }}</h2>
			<p>
			<svg class="icon"><use xlink:href="#icon-repost" /></svg>
			<a href="{{ reaction }}" class="u-favorite-of" title="Favorite of: {{ reaction }}">{{ reaction }}</a>
			</p>
		{% else %}
			<p>
			<svg class="icon"><use xlink:href="#icon-repost" /></svg>
			<span class="p-name">
				<a href="{{ reaction }}" class="u-favorite-of" title="Favorite of: {{ reaction }}">{{ reaction }}</a>
			</span>
			</p>
		{% endif %}
	{% endfor %}
{% endif %}
