<!DOCTYPE html>
<html{% if post and post.lang %} lang="{{ post.lang }}"{% elif taxonomy and taxonomy.lang %} lang="{{ taxonomy.lang }}"{% endif %}>
<head>
	<meta charset="{{ site.charset }}" />
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1" />
	<link rel="self" href="{{ site.url }}/" />
	<link rel="shortcut icon" href="{{ site.url }}/theme/favicon.png" />
	<link rel="apple-touch-icon" href="{{ site.url }}/theme/favicon.png" />
	<link rel="icon" href="{{ site.url }}/theme/favicon.png" />
	<style media="all">
		{% include 'style.css' %}
	</style>
	<link rel="http://webmention.org/" href="{{ site.url }}/webmention" />
	<link rel="webmention" href="{{ site.url }}/webmention" />
	<link rel="micropub" href="{{ site.url }}/micropub" />
	<link rel="authorization_endpoint" href="https://indieauth.com/auth" />
	<link rel="token_endpoint" href="https://tokens.indieauth.com/token" />
	<link rel="hub" href="https://petermolnar.superfeedr.com/">
