<section class="comments h-feed">
	{% if post.replies|length > 0 %}
	<h6 class="comments-replies"><a name="replies"></a>Replies</h6>
	<ol>
		{% for reply in post.replies %}
			<li class="h-entry p-comment">
				<a class="u-url u-uuid" href="{{ site.url }}/{{ site.commentspath }}/{{ reply.fname }}/" name="{{ reply.fname }}"></a>
				<header>
					<div class="p-author h-card">
						{% if reply.author.url %}
							<a class="url u-url" href="{{ reply.author.url }}">
								<span class="p-name fn">{{ reply.author.name }}</span>
							</a>
						{% else %}
							<span class="p-name fn">{{ reply.author.name }}</span>
						{% endif %}
					</div>
					<time class="dt-published" datetime="{{ reply.published|date('c') }}">
						{{ reply.published|date('%Y-%m-%d %H:%M') }}
					</time>
				</header>
				<div class="e-content">
					{{ reply.html }}
				</div>
				<footer>
					{% if reply.source|length > 0 %}
					<a href="{{ reply.source }}" class="u-repost-of">{{ reply.source }}</a>
					{% endif %}
				</footer
			</li>
		{% endfor %}
		</ol>
	{% endif %}

	{% if post.reacjis|length > 0 %}
	<h6 class="comments-reacji"><a name="reacji"></a>Reactions</h6>
	<dl>
	{% for reacji, replies in post.reacjis.items() %}
		<dt><a name="{{ reacji }}"></a>{{ reacji }}</dt>
		<dd>
			<ul>
			{% for reply in replies %}
				<li class="p-comment h-entry ">
					<a class="u-url u-uuid" href="{{ site.url }}/{{ site.commentspath }}/{{ reply.fname }}/" name="{{ reply.fname }}"></a>
					<time class="dt-published" datetime="{{ reply.published|date('c') }}">
						{{ reply.published|date('%Y-%m-%d %H:%M') }}
					</time>
					<span class="p-author h-card">
						{% if reply.author.url %}
							<a class="url u-url" href="{{ reply.author.url }}">
								<span class="p-name fn">{{ reply.author.name }}</span>
							</a>
						{% else %}
							<span class="p-name fn">{{ reply.author.name }}</span>
						{% endif %}
					</span>
					<a href="{{ reply.source }}" class="u-repost-of" title="{{ reply.source }}">
						<svg class="icon"><use xlink:href="#icon-link" /></svg>
					</a>
				</li>
			{% endfor %}
			</ul>
		</dd>
		{% endfor %}
	</dl>
	{% endif %}
</section>
