<section class="photo">
	<p>
		<a href="{{ post.photo.target }}" class="{{ post.photo.cl }}">
			<img src="{{ post.photo.fallback }}" title="{{ post.photo.title }}" alt="{{ post.photo.alt }}" class="adaptimg" />
		</a>
	</p>

	<aside class="exif">
		<dl>
	{% if post.exif.camera %}
			<dt>Camera</dt>
			<dd>
				<svg class="icon"><use xlink:href="#icon-camera" /></svg>
				{{ post.exif.camera }}
			</dd>
	{% endif %}
	{% if post.exif.aperture %}
			<dt>Aperture</dt>
			<dd>
				<svg class="icon"><use xlink:href="#icon-aperture" /></svg>
				f/{{ post.exif.aperture }}
			</dd>
	{% endif %}
	{% if post.exif.shutter_speed %}
			<dt>Shutter speed</dt>
			<dd>
				<svg class="icon"><use xlink:href="#icon-clock" /></svg>
				{{ post.exif.shutter_speed }} sec
			</dd>
	{% endif %}
	{% if post.exif.focal_length %}
			<dt>Focal length (as set)</dt>
			<dd>
				<svg class="icon"><use xlink:href="#icon-focallength" /></svg>
				{{ post.exif.focal_length }}{% if not post.exif.focal_length|search( 'mm' ) %} mm{% endif %}
			</dd>
	{% endif %}
	{% if post.exif.iso %}
			<dt>Sensitivity</dt>
			<dd>
				<svg class="icon"><use xlink:href="#icon-sensitivity" /></svg>
				ISO {{ post.exif.iso }}
			</dd>
	{% endif %}
	{% if post.exif.lens %}
			<dt>Lens</dt>
			<dd>
				<svg class="icon"><use xlink:href="#icon-lens" /></svg>
				{{ post.exif.lens }}
			</dd>
	{% endif %}
		</dl>
	</aside>
</section>
