[common]
base = ~/
domain = domain.com
build = ~/public
files = files

[dirs]
content = ${common:base}/content
tmpl = ${common:base}/nasg/templates
files = ${common:base}/${common:files}
static = ${common:base}/static
var = ${common:base}/var
archive = ${common:base}/archive

[archive]
favorite = ${dirs:archive}/favorite

[photo]
regex = your_regex_artist
watermark = ${dirs:tmpl}/watermark.png
default = 720

[downsize]
;90 = s
;360 = m
720 = z
1920 = b

[crop]
;90 = true

[var]
searchdb = ${dirs:var}/s.sqlite
webmentiondb = ${dirs:var}/webmention.sqlite
redirects = ${dirs:var}/redirects.tsv
gone = ${dirs:var}/gone.tsv
tokendb = ${dirs:var}/tokens.json
cache = ${dirs:var}/cache

[site]
title = Yet another static site
url = https://${common:domain}
lang = en
domains = ${common:domain}
websuburl = https://example.superfeedr.com/

[display]
pagination = 12

[licence]
default = by-nc-nd

[author]
name = Your Name
email = your_email
url = ${site:url}
avatar = ${site:url}/avatar.jpg
gpg = GPG long key
donateurl = https://paypal.me/yourname/3GBP
appendwith = socials

[socials]
flickr = https://www.flickr.com/people/your_flickr_handle
github = https://github.com/your_github_handle

[api_flickr]
api_key = api_key
api_secret = api_secret
username = username

[api_500px]
api_key = api_key
api_secret = api_secret

[api_tumblr]
api_key = api_key
api_secret = api_secret

[api_deviantart]
api_key = api_key
api_secret = api_secret
username = username
