[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Wand = "*"
unicode-slugify = "*"
requests = "*"
python-frontmatter = "*"
langdetect = "*"
Jinja2 = "*"
feedgen = "*"
filetype = "*"
arrow = "*"

[dev-packages]

[requires]
python_version = "3.7"
