[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
wand = "*"
arrow = "*"
unicode-slugify = "*"
requests = "*"
python-frontmatter = "*"
langdetect = "*"
jinja2 = "*"
feedgen = "*"

[dev-packages]

[requires]
python_version = "3.7"
