<?xml version="1.0" encoding="UTF-8"?>
	<rss version="2.0"
		xmlns:content="http://purl.org/rss/1.0/modules/content/"
		xmlns:dc="http://purl.org/dc/elements/1.1/"
	>

{%- if taxonomy.name -%}
{%- set title = taxonomy.name ~ ' | ' ~ site.title -%}
{%- else -%}
{%- set title = site.title -%}
{%- endif -%}

<channel>
	<title>{{ title }}</title>
	<link>{{ site.url }}{{ taxonomy.url }}feed/</link>
	<description></description>
	<webMaster>{{ site.author.email }} ({{ site.author.name }})</webMaster>
	<managingEditor>{{ site.author.email }} ({{ site.author.name }})</managingEditor>
	<lastBuildDate>{{ taxonomy.lastmod|date("%a, %d %b %Y %T %z") }}</lastBuildDate>
	<copyright>Copyright {{ taxonomy.lastmod|date("%Y") }} {{ site.author.name }}</copyright>
{% if taxonomy.url|length > 0 -%}
	<!-- PubSubHubbub Discovery -->
	<link rel="hub"  href="{{ site.websuburl }}" xmlns="http://www.w3.org/2005/Atom" />
	<link rel="self" href="{{ site.url }}{{ taxonomy.url }}feed/" xmlns="http://www.w3.org/2005/Atom" />
	<!-- End Of PubSubHubbub Discovery -->
{%- endif %}

{% for post in posts %}
	<item>
		<title>{% if post.title %}{{ post.title }}{% endif%}</title>
		<link>{{ site.url }}/{{ post.slug }}/</link>
{%- if post.summary|length > 0 %}
		<description><![CDATA[{{ post.sumhtml }}]]></description>
		<content:encoded><![CDATA[{{ post.html }}]]></content:encoded>
{%- else %}
		<description><![CDATA[{{ post.html }}]]></description>
{% endif -%}
		<author>{{ site.author.email }} ({{ site.author.name }})</author>
		<pubDate>{{ post.published|date("%a, %d %b %Y %T %z") }}</pubDate>
		<guid>{{ site.url }}/{{ post.slug }}</guid>
		<dc:language>{{ post.lang }}</dc:language>
{%- if post.tags %}{% for tname in post.tags %}
			<category>{{ tname }}></category>
{% endfor %}{% endif -%}
{%- if post.rssenclosure %}
		<enclosure
			url="{{ post.rssenclosure.url }}"
			type="{{ post.rssenclosure.mime }}"
			length="{{ post.rssenclosure.size }}"
		/>
{% endif -%}
	</item>
{% endfor %}
</channel>
</rss>
