<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1" />
	<style media="all">
		{% include 'style.css' %}
	</style>
	<title>Search results for "{{ term }}"</title>
</head>

<body>

<header class="content-header" id="main-header">
	<nav class="content-navigation">
		<ul>
			<li>
				<a title="back to site" href="/">
					« back to the site
				</a>
			</li>
		</ul>
	</nav>

	<form role="search" method="get" class="search-form" action="/search">
		<label for="search" class="hide">Search</label>
		<input type="search" class="search-field" placeholder="search..." value="{{ term }}" name="s" id="s" title="Search for:">
		<input type="submit" class="search-submit" value="Go ➡">
	</form>

	<br class="clear" />
</header>

<section class="content-body">
	<h1 class="p-name hide">Search results for "{{ term }}"</h1>
	{% if posts|length %}
	{% for url, post in posts.items() %}
		<article class="searchresult">
			<header>
				<h2>
					<a href="{{ url }}">
						<span class="p-name">
							{% if post.title|length %}
								{{ post.title }}
							{% else %}
								{{ url }}
							{% endif %}
						</span>
					</a>
				</h2>
				<h3>{{ url }}</h3>
			</header>

			<div class="highlight">… {{ post.highlight }} …</div>
			{% if post.img and 'None' != post.img %}
				<p>{{ post.img }}</p>
			{% endif %}
		</article>
	{% endfor %}
	{% else %}
	<h2>No results for search term "{{ term }}"</h2>
	{% endif %}
</section>

</body>
</html>
