body {
  color: #000;
  background-color: #eee;
}

a {
  color: #3173b4;
}

a:hover {
  color: #014384;
  border-bottom: 1px solid #014384;
}

code,
pre {
  color: #006400;
}

button svg {
  transform: rotate(180deg);
  transition: all 0.2s;
}

blockquote {
  color: #555;
}

td, th {
  border: 1px solid #111;
}

th, tr:nth-child(even) {
  background-color: rgba(0, 0, 0, .1);
}

pre > code::before {
  color: #444;
}    

.footnotes hr::before {
  color: #222;
}

body > header,
body > footer{
  background-color: #333;
  color: #ccc;
}

body > header a,
body > footer a,
.theme input + label {
  color: #71B3F4;
}

input {
  background-color: #222;
}

body > footer a:hover {
  color: #fff;
  border-bottom: 1px solid #fff;
}                