<!DOCTYPE html>
<html{% block lang %}{% endblock %} prefix="og: http://ogp.me/ns# article: http://ogp.me/ns/article#">
<head>
    <!--[if lt IE 9]>
    <script src="{{ site.url}}/html5shiv-printshiv.js"></script>
    <![endif]-->
    <title>{% block title %}{% endblock %}</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1" />
    <meta name="author" content="{{ site.author.name }} ({{ site.author.email }})" />
    <link rel="search" type="application/opensearchdescription+xml" href="/opensearch.xml" title="{{ site.name }}">
    <link rel="icon" href="{{ site.image }}" />
    {% for key, value in meta.items() %}
    <link rel="{{ key }}" href="{{ value }}" />
    {% endfor %}
    {% block meta %}{% endblock %}

    <style media="all">
        {% include('style.css') %}
    </style>
    <style id="css_alt" media="speech">
        {% include('style-alt.css') %}
    </style>
    <style id="css_surprise" media="speech">
        {% include('style-konami.css') %}
    </style>
    <style media="print">
        {% include('style-print.css') %}
    </style>

</head>

<body>

{% macro activemenu(name) %}
{% if (post is defined and post.name ==  name )
    or (post is defined and post.genre ==  name )
    or ( category is defined and category.name == name )%}class="active"{% endif %}
{% endmacro %}

<header id="header">
    <div>
        <nav>
            <ul>
            {% for key, data in menu.items() %}
                <li>
                    <a title="{{ data.text }}" href="{{ data.url|relurl(baseurl) }}" {{ activemenu(key) }} >
                        <svg width="16" height="16">
                            <use xlink:href="#icon-{{ key }}" />
                        </svg>
                        {{ data.text }}
                    </a>
                </li>
            {% endfor %}
            </ul>
        </nav>

        <div id="header-forms">
            {% for action in site.potentialAction %}
            {% if 'SearchAction' == action['@type'] %}
            <form id="search" role="search" method="get" action="{{ action.url|relurl(baseurl) }}">
                <label for="qsub">
                    <input type="submit" value="search" id="qsub" name="qsub" />
                    <svg width="16" height="16">
                        <use xlink:href="#icon-search"></use>
                    </svg>
                </label>
                <input type="search" placeholder="search..." value="" name="q" id="q" title="Search for:" />
            </form>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</header>

{% block content %}
{% endblock %}

{% block pagination %}
{% endblock %}

<footer id="footer" class="p-author h-card vcard">
    <div>
        <p>
            <a href="https://creativecommons.org/">CC</a>,
            1999-2019,
            <img class="u-photo photo" src="{{ site.author.image|relurl(baseurl) }}" alt="Photo of {{ site.author.name }}" />
            <a class="p-name u-url fn url" href="{{ site.author.url }}" rel="me"> {{ site.author.name }}</a>
            <a class="u-email email" rel="me" href="mailto:{{ site.author.email }}">
                <svg width="16" height="16">
                    <use xlink:href="#icon-mail"></use>
                </svg>
                {{ site.author.email }}
            </a>
        </p>
        <ul>
            {% for action in site.potentialAction %}
            {% if 'FollowAction' == action['@type'] %}
            <li>
                <a href="{{ action.url }}">
                    <svg width="16" height="16"><use xlink:href="#icon-{{ action['@type'] }}" /></svg>
                    {{ action.name }}
                </a>
            </li>
            {% endif %}
            {% endfor %}
            <li>
                <a href="{{ site.author.follows }}">
                    <svg width="16" height="16"><use xlink:href="#icon-following" /></svg>
                    followings
                </a>
            </li>
            {% for url in site.author.sameAs %}
            {% if 'cv.html' in url %}
            <li>
                <a href="{{ url }}" class="u-url">
                    <svg width="16" height="16"><use xlink:href="#icon-resume" /></svg>
                    resume
                </a>
            </li>
            {% elif 'github' in url %}
            <li>
                <a rel="me" href="{{ url }}">
                    <svg width="16" height="16"><use xlink:href="#icon-github" /></svg>
                    github
                </a>
            </li>
            {% endif %}
            {% endfor %}
        </ul>
        <p>
            <a href="https://xn--sr8hvo.ws/%F0%9F%87%BB%F0%9F%87%AE%F0%9F%93%A2/previous">←</a>
                Member of <a href="https://xn--sr8hvo.ws">IndieWeb Webring</a>
            <a href="https://xn--sr8hvo.ws/%F0%9F%87%BB%F0%9F%87%AE%F0%9F%93%A2/next">→</a>
        </p>
        <div class="tip">
            <span>Leave me a tip! </span>
            <ul>
                {% for action in site.potentialAction %}
                {% if 'DonateAction' == action['@type'] %}
                <li>
                    <a href="{{ action.url }}">
                        <svg width="16" height="16"><use xlink:href="#icon-{{ action['name'] }}" /></svg>
                        {{ action.description }}
                    </a>
                </li>
                {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
</footer>

<script>
{% include 'themeswitcher.js' %}

{% include 'konami.js' %}

</script>

{% include 'symbols.svg' %}

{% block prism %}
{% endblock %}

    </body>
</html>
