{% include 'block_header_open.html' %}
    <title>{{ taxonomy.title }}</title>
    <link rel="alternate" type="application/atom+xml" title="{{ taxonomy.title }} feed" href="{{ taxonomy.feed }}" />
    <link rel="self" href="{{ site.url }}{{ taxonomy.feed }}/" />

{% include 'block_header_close.html' %}

<section class="content-body h-feed">
    <header>
        <nav>
            <p class="follow">
                <a title="follow {{ taxonomy.title }}" rel="feed" href="{{ site.url }}{{ taxonomy.feed }}">
                    <svg class="icon" width="16" height="16">
                        <use xlink:href="#icon-rss" />
                    </svg>
                </a>
            </p>
        </nav>
        <h1 class="p-name">{{ taxonomy.name }}</h1>
    </header>

{% for year in by_year.keys()|sort(reverse=True) %}
    <h2>{{ year }}</h2>
    {% for post in by_year[year]|sort(attribute='pubtime',reverse=True) %}
        <article class="h-entry hentry" lang="{{ post.lang }}">
            <header>
                <h3>{% include 'Singular_title.html' %}</h3>
            </header>

            {% if post.summary %}
            <div class="e-summary entry-summary">
                {{ post.summary }}
                <span class="more">
                    <a href="/{{ post.slug }}" title="{{ post.title }}">
                    {% if post.lang == 'hu' %}Tovább »{% else %}Continue »{% endif %}
                    </a>
                </span>
                <br class="clear" />
            </div>
            {% else %}
            <div class="e-content entry-content">
                {% if post.photo %}
                    {{ post.photo }}
                {% endif %}
                {{ post.html }}
            </div>
            {% endif %}
        </article>
    {% endfor %}
{% endfor %}
</section>

{% include 'block_footer.html' %}
