<?xml version="1.0" encoding="UTF-8"?>
	<rss version="2.0"
		xmlns:content="http://purl.org/rss/1.0/modules/content/"
		xmlns:dc="http://purl.org/dc/elements/1.1/"
	>
<channel>
	<title>{{ taxonomy.title }}</title>
	<link>{{ site.url }}{{ taxonomy.feed }}</link>
	<lastBuildDate>{{ taxonomy.lastmod }}</lastBuildDate>
	<description>{{ site.title }}: {{ taxonomy.name }}</description>
{% for post in posts %}
	<item>
		<title>{{ post.title }}</title>
		<link>{{ site.url }}/{{ post.slug }}/</link>
		<content:encoded><![CDATA[{{ post.html }}]]></content:encoded>
		<pubDate>{{ post.pubrfc }}</pubDate>
		<guid>{{ site.url }}/{{ post.slug }}</guid>
		<dc:language>{{ post.lang }}</dc:language>
{%- if post.tags %}{% for tname in post.tags %}
			<category>{{ tname }}></category>
{% endfor %}{% endif -%}
{%- if post.rssenclosure %}
		<enclosure
			url="{{ post.enclosure.url }}"
			type="{{ post.enclosure.mime }}"
			length="{{ post.enclosure.size }}"
		/>
{% endif -%}
	</item>
{% endfor %}
</channel>
</rss>
