{% include 'block_header_open.html' %}
	<title>comment #{{ reply.id }} | {{ site.domain }}</title>
	<link rel="canonical" href="{{ site.url }}/{{ site.commentspath }}/{{ reply.fname }}/" />
	<meta name="author" content="{{ reply.author.name }}">
{% include 'block_header_close.html' %}

<section class="content-body">
	<article class="h-entry p-comment">
		<a class="u-url u-uuid" href="{{ site.url }}/{{ site.commentspath }}/{{ reply.fname }}/"></a>
		<header>
			<div class="p-author h-card">
				{% if reply.author.url %}
					<a class="url u-url" href="{{ reply.author.url }}">
						<span class="p-name fn">{{ reply.author.name }}</span>
					</a>
				{% else %}
					<span class="p-name fn">{{ reply.author.name }}</span>
				{% endif %}
			</div>
			<time class="dt-published" datetime="{{ reply.published|date('c') }}">
				{{ reply.published|date('%Y-%m-%d %H:%M') }}
			</time>
		</header>
		<div class="e-content">
			{{ reply.html }}
		</div>
		<footer>
			{% if reply.source|length > 0 %}
			<a href="{{ reply.source }}" class="u-repost-of">{{ reply.source }}</a>
			{% endif %}
			<a class="u-in-comment-to" href="{{ reply.target }}"></a>
		</footer>
	</article>
</section>

{% include 'block_footer.html' %}
