{% extends "base.j2.html" %}

{% block title %}{{ post.title }} - {{ site.domain }}{% endblock %}

{% block meta %}
    <meta name="author" content="{{ author.name }} <{{ author.email }}>" />
    <meta name="description" content="{{ post.summary|e }}" />
    <link rel="canonical" href="{{ post.url }}" />
    {% for category, latest in elements %}
    <link rel="alternate" type="application/rss+xml" title="{{ category.title }} RSS feed" href="{{ category.feed }}" />
    <link rel="alternate" type="application/atom+xml" title="{{ category.title }} ATOM feed" href="{{ category.feed }}atom.xml" />
    <link rel="feed" title="{{ category.title}} feed" href="{{ category.url }}" />
    {% endfor %}
{% endblock %}

{% block content %}
<main class="content-body h-feed hfeed" vocab="http://schema.org/" typeof="Blog WebPage">
    <aside>
        <div>
            {{ post.html_content }}
        </div>
    </aside>

    {% for category, post in elements %}
    <section>
        <h2>post in
            <a href="{{ category.url }}/">
                <svg width="16" height="16"><use xlink:href="#icon-{{ category.name }}" /></svg>
                {{ category.name }}
            </a>
        </h2>
        <article class="h-entry hentry singular" lang="{{ post.lang }}" property="blogPost" typeof="BlogPosting">
            <header>
                <h3 class="p-name entry-title" property="name headline" >
                {% if post.is_reply %}
                    <svg class="icon" width="16" height="16">
                        <use xlink:href="#icon-reply" />
                    </svg>
                    <a href="{{ post.url }}/">
                        RE:
                    </a>
                    <a href="{{ post.is_reply }}" class="u-in-reply-to">
                        {{ post.is_reply }}
                    </a>
                {% else %}
                    <a href="{{ post.url }}">
                        <span class="entry-title p-name">{{ post.title }}</span>
                    </a>
                {% endif %}
                </h3>
                <a href="{{ post.url }}" property="url mainEntityOfPage" class="u-url bookmark"></a>
            </header>

            {% if post.summary %}
            <div class="e-summary entry-summary" property="description">
                {{ post.html_summary }}
                <span class="more">
                    <a href="{{ post.url }}">
                    {% if post.lang == 'hu' %}Tovább »{% else %}Continue »{% endif %}
                    </a>
                </span>
            </div>
            {% else %}
            <div class="e-content entry-content" property="articleBody">
                {{ post.html_content }}
            </div>
            {% endif %}

            {% include 'meta-publisher.j2.html' %}
        </article>
    </section>
{% endfor %}
</main>
{% endblock %}
