<div class="h-entry hentry" lang="{{ post.inLanguage }}">
    <div class="entry-header">
        <h3 class="p-name entry-title">
        {% if post.mentions %}
            <span>
                <svg width="16" height="16">
                    <use xlink:href="#icon-reply" />
                </svg>
                <a href="{{ post.url|relurl(baseurl) }}">
                    RE:
                </a>
                <a href="{{ post.mentions.url }}" class="u-in-reply-to">
                    {{ post.mentions.url }}
                </a>
            </span>
        {% else %}
            <a href="{{ post.url|relurl(baseurl) }}">
                {{ post.headline }}
            </a>
        {% endif %}

        </h3>
        <a href="{{ post.url }}" class="u-url bookmark"></a>
    </div>

    {% if post.description|length %}
        {% set summary = post.description %}
    {% else %}
        {% set summary = post.text|truncate(255) %}
    {% endif %}

    {% if post['@type'] == 'Photograph' %}
        {% if post.image|length %}
            {% for image in post.image %}
                {% if image.representativeOfPage %}
                 {{ image.text|relurl(baseurl) }}
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endif %}
    <div class="e-summary entry-summary">
        {{ summary|relurl(baseurl) }}
        <span class="more">
            <a href="{{ post.url|relurl(baseurl) }}">
            {% if post.inLanguage == 'hu' %}Tovább »{% else %}Continue »{% endif %}
            </a>
        </span>
    </div>

    <div class="entry-footer" aria-hidden="true" hidden="hidden">
        Published at
        <time datetime="{{ post.datePublished }}" class="dt-published published">{{ post.datePublished|printdate }}</time>
        <time datetime="{{ post.dateModified }}" class="dt-updated updated"></time>
        by
        <span class="p-author h-card vcard">
            <img class="u-photo photo" src="{{ post.author.image|relurl(baseurl) }}" alt="" />
            <a class="p-name u-url fn url org" href="{{ post.author.url }}">{{ post.author.name }}</a>
            <a class="u-email email" href="mailto:{{ post.author.email }}">{{ post.author.email }}</a>
        </span>
    </div>
</div>
