.comment,
.block-comment,
.prolog,
.doctype,
.cdata {
  color: darkgray;
}

.punctuation {
  color:darkcyan;
}

.tag,
.attr-name,
.namespace,
.deleted {
  color: #e2777a;
}

.function-name {
  color: red;
}

.boolean,
.number,
.function {
  color: darkorchid;
}

.property,
.class-name,
.constant,
.symbol {
  color:cadetblue;
}

.selector,
.important,
.atrule,
.keyword,
.builtin {
  color: darkorange;
}

.string,
.char,
.attr-value,
.regex,
.variable {
  color:brown;
}

.operator,
.entity,
.url {
  color: darkmagenta;
}

.important,
.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.entity {
  cursor: help;
}

.inserted {
  color: green;
}    