<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta content="width=device-width,initial-scale=1,minimum-scale=1" name="viewport"/>
        <meta http-equiv="refresh" content="0; url={{ target }}" />
        <title>Moved</title>
    </head>

    <body>

    <h1>
        <center>This content has move to a new location:</center>
    </h1>
    <p>
        <center>
            <a href="{{ target }}">{{ target }}</a>
        </center>
    </p>

    <p>
        <center>
            You will be redirected in 3 seconds; if that does not happen, please click in the link.
        </center>
    </p>
 </body>
</html>
