{% extends "base.j2.html" %}
{% block meta %}
    <meta name="author" content="{{ author.name }} <{{ author.email }}>" />
    <meta name="description" content="{{ post.summary|e }}" />
    <link rel="canonical" href="{{ post.url }}" />
    <link rel="license" href="https://creativecommons.org/licenses/4.0/{{ post.licence }}" />
    {% if post.has_code %}
    <style media="all">
        {% include 'prism.css' %}
    </style>
    {% endif %}
{% endblock %}
{% block prism %}
    {% if post.has_code %}
    <script>
        {% include 'prism.js' %}
    </script>
    {% endif %}
{% endblock %}
