{% include 'block_header_open.html' %}

    <title>{{ post.title }}</title>
    <meta name="author" content="{{ site.author.name }}">
    <meta name="keywords" content="{{ post.tags|join(',') }}">
    <meta name="description" content="{{ post.description|e }}">

    <link rel="canonical" href="{{ site.url }}/{{ post.slug }}/" />
    <link rel="shortlink" href="{{ site.url }}/{{ post.shortslug }}" />
    <link rel="license" href="{{ post.licence.url }}" />
    <link rel="alternate" type="application/json+oembed" href="{{ site.url }}/{{ post.slug }}/oembed.json" />

{% include 'block_header_close.html' %}

<section class="content-body">
    <article class="h-entry hentry singular" lang="{{ post.lang }}">
        <header>
            <h1>{% include 'Singular_title.html' %}</h1>
        </header>

{% if post.review %}
        <div class="h-review hreview">
            <h2>Review summary</h2>
            <p>
                <a href="{{ post.review.url }}" class="p-name url fn p-item h-product">{{ post.review.title }}</a>
            </p>
            <p>
                <span class="rating">
                    <span class="value">{{ post.review.rating }}</span>
                    out of
                    <span class="best">5</span>
                </span>
            </p>
            <p class="p-summary">{{ post.review.summary }}</p>
        </div>
{% endif %}

{% if post.summary %}
        <div class="e-summary entry-summary">
            {{ post.summary }}
            <br class="clear" />
        </div>
{% endif %}

        <div class="e-content entry-content">
            <div class="content-inner">
                {% if post.photo %}
                    {{ post.photo }}
                {% endif %}
                {{ post.html }}
            </div>
        </div>

        <footer>
            <dl>
                <dt>Published</dt>
                <dd class="published">
                    <time class="dt-published" datetime="{{ post.pubtime }}">{{ post.pubdate }}</time>
                </dd>
                <dt>Author</dt>
                <dd>
                    {% include 'block_author.html' %}
                </dd>
                <dt>Entry URL</dt>
                <dd>
                    <a class="u-url u-uuid" rel="bookmark" href="{{ site.url}}/{{ post.slug }}/">{{ site.url}}/{{ post.slug }}/</a>
                </dd>
                <dt>License</dt>
                <dd class="license">
                {% if post.licence.text == 'CC BY 4.0' %}
                    <svg class="icon" width="16" height="16">
                        <use xlink:href="#icon-creative-commons" />
                    </svg><a rel="license" href="https://creativecommons.org/licenses/by/4.0/" class="u-license">CC BY 4.0</a> You are free to share or republish, even if modified, if you link back here and indicate the modifications, even for commercial use.
                {% elif post.licence.text == 'CC BY-NC 4.0' %}
                    <svg class="icon" width="16" height="16">
                        <use xlink:href="#icon-creative-commons" />
                    </svg><a rel="license" href="https://creativecommons.org/licenses/by-nc/4.0/" class="u-license">CC BY-NC 4.0</a> You are free to share or republish, even if modified, if you link back here and indicate the modifications, for non commercial use. For commercial use please contact the author.
                {% else %}
                    <svg class="icon" width="16" height="16">
                        <use xlink:href="#icon-creative-commons" />
                    </svg><a rel="license" href="https://creativecommons.org/licenses/by-nc-nd/4.0/" class="u-license">CC BY-NC-ND 4.0</a> You are free to share if you link back here for non commercial use, but you can't publish any altered versions of it. For commercial use please contact the author.
                {% endif %}
                </dd>
                <dt class="noprint">Leave a tip</dt>
                <dd class="donation">
                    <p>
                    {% if post.category == 'photo' %}
                        Did you like this photo?<br />Leave a tip! If you're interested in prints, please get in touch.
                    {% elif post.category == 'article' %}
                        Did you find this article useful?<br />Support me, so I can write more like this.<br />If you want my help for your project, get in touch.
                    {% elif post.category == 'journal' %}
                        Did you like this entry?<br />Encourage me to write more of them.
                    {% else %}
                        Did you like what you read?<br />Leave a tip!</a>
                    {% endif %}
                    </p>
                    <ul>
                        {% for method, data in site.tips.items() %}
                        <li>
                            <a rel="payment" title="pay {{ site.author.name }} via {{ data.label }} {{ data.value }}" href="{{ data.url }}">
                                {{ data.value }}
                                <span class="method">
                                    <svg class="icon" width="16" height="16">
                                        <use xlink:href="#icon-{{ method }}"></use>
                                    </svg>
                                    with {{ data.label }}
                                </span>
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </dd>
            </dl>
        </footer>


{% if post.syndicate|length %}
        <section class="syndication">
            {% for url in post.syndicate %}
                <a href="{{ url }}" class="u-syndication"></a>
            {% endfor %}
        </section>
{% endif %}


{% if post.replies|length %}
        <section class="replies">
            <h2><a id="replies"></a>Replies</h2>
            <ol>
                {% for mtime, comment in post.replies %}
                    {% include 'Comment.html' %}
                {% endfor %}
            </ol>
        </section>
{% endif %}
{% if post.reactions|length %}
        <section class="reactions">
            <h2><a id="reactions"></a>Reactions</h2>
            <dl>
                {% for character, comments in post.reactions.items() %}
                <dt>{{ character }}</dt>
                <dd>
                    <ul>
                        {% for mtime, comment in comments %}
                            {% include 'Comment.html' %}
                        {% endfor %}
                    </ul>
                </dd>
                {% endfor %}
            </dl>
        </section>
{% endif %}
    </article>
</section>


{% include 'block_footer.html' %}
