{% include 'block_header_open.html' %}

	<title>{{ post.title }} | {{ site.domain }}</title>
	<meta name="author" content="{{ site.author.name }}">
	<meta name="keywords" content="{{ post.tags|join(',') }}">
	<meta name="description" content="{{ post.summary|e }}">

	<link rel="canonical" href="{{ site.url }}/{{ post.slug }}/" />
	<link rel="shortlink" href="{{ site.url }}/{{ post.shortslug }}" />
	<link rel="license" href="{{ post.licence.url }}" />

{% include 'block_header_close.html' %}

<section class="content-body">
	<article class="h-entry hentry singular" lang="{{ post.lang }}">
		<header>
			<h1>{% include 'Singular_title.html' %}</h1>
			{% if 'article' == post.category and post.age >= 2 %}
				<h2 class="old-warning">WARNING: this entry was published at {{ post.pubdate }}.<br />It might be outdated.</h2>
			{% endif %}
		</header>

{% if post.summary %}
		<div class="e-summary entry-summary">
			{{ post.summary }}
			<br class="clear" />
		</div>
{% endif %}

		<div class="e-content entry-content">
			<div class="content-inner">
				{{ post.html }}
			</div>
		</div>

		<footer>
			<p class="published">
				<time class="dt-published" datetime="{{ post.pubtime }}">{{ post.pubdate }}</time>
			</p>
			<div class="hide">
			{% include 'block_author.html' %}
			</div>
			<p class="hide">
				<a class="u-url u-uuid" rel="bookmark" href="{{ site.url}}/{{ post.slug }}/"></a>
			</p>
			<p class="license">
				{% if post.licence.text == 'CC BY 4.0' %}
					<a rel="license" href="https://creativecommons.org/licenses/by/4.0/" class="hide u-license">CC BY 4.0</a>
					<svg class="icon"><use xlink:href="#icon-creative-commons" /></svg>
					Licensed under <a href="https://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International</a>. You are free to share or republish, even if modified, if you link back here and indicate the modifications, even for commercial use.
				{% elif post.licence.text == 'CC BY-NC 4.0' %}
					<a rel="license" href="https://creativecommons.org/licenses/by-nc/4.0/" class="hide u-license">CC BY-NC 4.0</a>
					<svg class="icon"><use xlink:href="#icon-creative-commons" /></svg>
					Licensed under <a href="https://creativecommons.org/licenses/by-nc/4.0/">Creative Commons Attribution-NonCommercial 4.0 International</a>. You are free to share or republish, even if modified, if you link back here and indicate the modifications, for non commercial use. For commercial use please contact the author.
				{% else %}
					<a rel="license" href="https://creativecommons.org/licenses/by-nc-nd/4.0/" class="hide u-license">CC BY-NC-ND 4.0</a>
					<svg class="icon"><use xlink:href="#icon-creative-commons" /></svg>
					Licensed under <a href="https://creativecommons.org/licenses/by-nc-nd/4.0/">Creative Commons Attribution-NonCommercial-NoDerivatives 4.0 International</a>. You are free to share if you link back here for non commercial use, but you can't publish any altered versions of it. For commercial use please contact the author.
				{% endif %}
			</p>
		</footer>
	</article>

</section>


{% include 'block_footer.html' %}
