body {
  color: #222;
  background-color: #eee;
}

a {
  color: #3173b4;
}

a:hover {
  color: #014384;
  border-bottom: 1px solid #014384;
}

code,
pre {
  color: #006400;
}

button svg {
  transform: rotate(180deg);
}

blockquote {
  color: #555;
}

td, th {
  border: 1px solid #111;
}

th, tr:nth-child(even) {
  background-color: rgba(0, 0, 0, .1);
}

pre> code::before {
  color: #444;
}    