* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  background-color: #111;
  color: #bbb;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #ccc;
  background-color: #222;
  line-height: 1.3em;
  position: relative;
}

svg {
  transform: rotate(0deg);
  fill: currentColor;
  vertical-align: middle;
}

a {
  color: #5193D4;
  text-decoration: none;
  border-bottom: 1px solid transparent;
}

a:hover {
  color: #fff;
  border-bottom: 1px solid #fff;
}

h1 {
  font-size: 1.6em;
}

h1, h2 {
  line-height: 1.2em;
}

h2 {
  font-size: 1.2em;
}

h2, h3 {
  margin-top: 2em;
}

hr {
  border: none;
  border-top: 1px solid #777;
  margin: 1em 0;
  clear:both;
}

blockquote {
  border-left: 3px solid #999;
  margin: 2em 0 2em 1em;
  padding: 0 0 0 1em;
  color: #aaa;
}

dt {
  font-weight: bold;
  margin: 1em 0 0.6em 0;
}

dd img {
  width: 1em;
  height: auto;
}

figure {
  margin: 2em 0;
}

figure > a {
  border: none;
}

figcaption {
  padding: 0.3em 0;
  text-align: center;
}

video,
figure img {
  display: block;
  max-height: 98vh;
  max-width: 100%;
  width:auto;
  height:auto;
  margin: 0 auto;
  border: 1px solid #000;
}

figcaption dd, label {
  display: inline-block;
  margin:0.3em 0.3em;
}

label {
  cursor: pointer;
}

ul {
  padding-left: 1.3em;
}

li {
  padding: 0.1em 0;
}

li p {
  margin: 0;
}

input, button, label {
  border: none;
  color: #ccc;
  background-color: transparent;
  vertical-align: middle;
  -webkit-appearance:none;
}

input {
  border-bottom: 3px solid #ccc;
  margin: 0 0 0 0.3em;
}

figcaption > ul,
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

figcaption > ul {
  display:none;
  text-align: right;
}

figcaption ul li {
  display: inline-block;
}

nav li {
  display: inline-block;
  padding: 0 0.6em 0 0;
}

code, pre, q, figcaption {
  font-family: monospace;
}

code, pre {
  color: #32CD32;
  border: 1px solid #666;
  direction: ltr;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre-wrap;
  overflow:initial;
}

pre {
  padding: 0.6em;
  position: relative;
}

code {
  padding: 0.1em 0.2em;
}

pre > code {
  border: none;
}

pre > code::before {
  content: attr(lang);
  float: right;
  color: #999;
  border-left: 1px solid #666;
  border-bottom: 1px solid #666;
  padding-left: 0.3em;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

td,
th {
  padding: 0.3em;
  border: 1px solid #777;
  text-align:left;
}

th {
  font-weight: bold;
}

th, tr:nth-child(even) {
  background-color: rgba(255, 255, 255, .1);
}

body > header,
body > footer {
  padding: 0.6em 0.6em;
  background-color: #111;
  text-align: center;
}

body > header nav {
  margin: 0.3em 0;
}

body > header form {
  color: #ccc;
  display: inline-block;
  margin: 0.6em 0 0 0;
  padding-left: 0.6em;
}

body > header a {
  font-weight: bold;
  color: #ccc;
  border-bottom: 3px solid transparent;
  text-decoration: none;
  padding-bottom: 0.3em;
}

body > header a:hover,
body > header a.active,
input:active,
input:hover {
  border-bottom: 3px solid #fefefe;
  color: #fefefe;
}

body > header a svg {
  display: block;
  margin: 0.1em auto;
}

.theme input + label {
  border-bottom: 3px solid transparent;
}

.theme input:checked + label {
  border-bottom: 3px solid #ccc;
}

input[type=submit] {
  display: none;
}

body > main,
body > nav,
body > footer > div {
  max-width: 86ch;
  margin: 0 auto;
  padding: 0.6em;
}

body > nav ul {
  text-align: center;
}

body > nav li {
  margin: 1em 0.6em;
}

body > nav i {
  font-style:normal;
}

body > nav .current {
  color: #999;
}


body > footer {
  color: #ccc;
}

body > footer img {
  width: 1em;
}


body > footer dt {
  display: none;
}

body > footer > div > * {
  font-family: monospace;
  font-size: 1.1em;
}

body > footer > div > nav {
  text-align: left;
  display: inline-block;
  margin: 0 auto;
}

.footnotes a {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  vertical-align: top;
  max-width: 80%;
}

.footnote-back {
  margin: 0 0 0 0.1em;
}

figcaption dt,
body > svg,
body > script,
body > footer h2,
.h-feed h1,
.theme,
.theme input {
  display: none;
}

.encourage {
  text-align: center;
  padding-bottom: 2em;
}

.encourage h2 {
  color: #080;
}

.encourage li {
  margin: 0 0.6em;
}

@media all and (min-width: 58em) {
  body > header,
  body > footer > div {
    text-align: left;
    display: flex;
    justify-content:space-between;
  }

  body > header form,
  body > footer > div > nav {
    margin: 0;
  }

  body > header a svg {
    display: inline-block;
    vertical-align: top;
  }
}

body > img {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 10em;
  height: auto;
}                                