* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body, div, span,
h1, h2, h3, h4, h5, h6, 
a, p, blockquote, pre, cite, code,
del, em, ins, strong, sub, sup, tt, b, u, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, details,
figure, figcaption, img,
footer, header, hgroup,
menu, nav, section, summary,
time, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

html, body {
    min-height: 100%;
    font-size:19px;
    line-height: 1.2rem;
    font-family: "Liberation Sans", "Helvetica Neue", "Roboto", "Arial", sans-serif;
    font-weight: normal;
    color: #999999;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
    background-color: #222;
}

html {
    position: relative;
}

a {
    color: #cccccc;
    text-decoration:none;
}

a:hover {
    color: #fff;
}

b, strong {
    font-weight:bold;
}

em {
    font-style: italic;
}

p {
    padding: 0.6rem 0;
}

li {
   margin-left: 1.3rem;
}

ul li {
   line-height: 1.6rem;
}

li p {
    margin:0;
    padding: 0;
}

blockquote {
    margin: 0.3rem;
    padding-left: 0.6rem;
    border-left: 2px solid #999;
    font-family: "Times New Roman", serif;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td, th {
    padding: 0.3rem;
    border: 1px solid #333;
}

th {
    font-weight: bold;
}

hr {
    display: block;
    height: 1px;
    border: none;
    border-top: 1px solid #444;
    margin: 1rem 0;
    clear:both;
}


h1, h2, h3, h4, h5, h6, dt {
    font-weight:bold;
    clear:both;
}

h1, h2, h3, h4, h5, h6 {
    margin: 1.3rem 0 0.3rem 0;
    padding: 0 0 0.3rem 0;
}

h1 {
    font-size: 1.2rem;
    margin-top: 0;
}

h2 {
    font-size: 1.1rem;
    border-bottom: 2px solid #999;
}

h3 {
    font-size: 1rem;
}

.icon {
    transform: rotate(0.01deg);
    width: 19px;
    height: 19px;
    display: inline;
    fill: currentColor;
    vertical-align:middle;
    overflow: visible;
}

code,
pre {
    font-family: "Inconsolata", "Courier New", monospace;
    font-size: 0.8rem;
    color: limegreen;
    background-color: #222;
    border: 1px solid #666;
    direction: ltr;
    text-align: left;
    tab-size: 2;
}

pre {   
    overflow: auto;
    padding: 0.3rem;
}

code {
    padding: 0.1rem;
}

pre code {
    border: none;
}

code.sourceCode span.al { color: limegreen; }
code.sourceCode span.at { color: limegreen; }
code.sourceCode span.bn { color: limegreen; }
code.sourceCode span.bu { color: limegreen; }
code.sourceCode span.cf { color: limegreen; }
code.sourceCode span.ch { color: limegreen; }
code.sourceCode span.co { color: gray; }
code.sourceCode span.dt { color: limegreen; }
code.sourceCode span.dv { color: limegreen; }
code.sourceCode span.er { color: limegreen; }
code.sourceCode span.ex { color: orange; }
code.sourceCode span.fl { color: limegreen; }
code.sourceCode span.fu { color: orange; }
code.sourceCode span.im { color: limegreen; }
code.sourceCode span.kw { color: cyan; }
code.sourceCode span.op { color: limegreen; }
code.sourceCode span.ot { color: limegreen; }
code.sourceCode span.pp { color: limegreen; }
code.sourceCode span.sc { color: limegreen; }
code.sourceCode span.ss { color: limegreen; }
code.sourceCode span.st { color: magenta; }
code.sourceCode span.va { color: turquoise; }


.limit,
.content-body {
    max-width: 70ch;
    margin: 1rem auto;
}

.h-entry {
    padding: 0 0.6rem;
    font-size: 0.9rem;
}

.h-feed .h-entry {
    margin: 2rem 0 0 0;
    padding: 1rem;
    border-bottom: 2px solid #333;
}

/* titles in taxonomy pages */
.h-feed .h-entry h2 {
    border: none;
    font-size: 1rem;
    margin: 0;
    padding: 0;
}

/* licence, time, author */
.h-entry footer p {
    opacity: 0.7;
    padding: 0 0.6rem 0 0;
    display: inline-block;
}

.e-content a {
    color:#5193D4;
}

.e-content a:hover {
    color:#71B3F4;
}

.singular footer {
    margin: 2rem 0;
}

.footnoteRef,
.footnoteRef:hover {
    border: 0;
    white-space: nowrap;
}

.footnoteRef a {
    border: none;
}

.footnoteRef sup {
    vertical-align: baseline;
    position: relative;
    top: -0.3rem;
    font-size: 0.8rem;
    margin-right: 0.1rem;
}

.footnoteRef sup:before,
.footnoteRef sup:after {
    color: #33c;
}

.footnotes ol li {
    margin-bottom: 0.3rem;
}

.comments ol .u-repost-of,
.footnotes ol li a {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    vertical-align: top;
    max-width: 80%;
}

.footnotes ol li a[href^="#"] {
    margin: 0 0 0 0.6rem;
    max-width: 20%;
    font-size: 0.6rem;
}

.footnotes ol li a[href^="#"]:after {
    content: "back to text";
    margin: 0 0 0 0.2rem;
    color: #666;
}       

.footnotes ol li a[href^="#"]:hover:after {
    color: #ccc;
}

.content-header,
.content-footer {
    background-color: #333336;
    color: #bbb;
}

.content-header a,
.content-footer a {
    color: #cccccc;
    border: none;
}

.content-header a:hover,
.content-footer a:hover {
    color: #fefefe;
    border: none;
}

.content-footer {
    margin-top: 2rem;
    padding: 0.3rem 0;
    opacity: 0.8;
    text-align: center;
}

.content-footer * {
    display: inline-block;
    vertical-align: top;
}

.content-footer img {
    width: 1rem;
    margin: 0 0.3rem 0rem 0;
}

.content-footer dl {
    font-size: 0.86rem;
}

.content-footer svg,
.content-footer dl dt {
    display:none;
    visibility: hidden;
}

.content-footer dl dd {
    display:inline-block;
    
}

.content-footer dl dd:after {
    content: '\00B7';
    margin: 0 0.3rem;
}

.content-footer dl dd:last-of-type:after {
    content: '';
}

input {
    vertical-align:middle;
    border: none;
    border-bottom: 3px solid #aaa;
    background-color: transparent;
    color: #ccc;
    height: 1.6rem;
    width: 6rem;
    font-size: 0.8rem;
}

input[type=submit] {

    width: 2.2rem;
    cursor: pointer;
}

input:focus,
input[type=submit]:hover {
    border-bottom: 3px solid #fff;
    color: #fff;
}

.search-form {
    display: block;
    padding: 0.3rem 0.1rem;
    text-align: center;
}

.content-navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align:center;
}

.content-navigation ul li {
    margin:0;
    padding: 0.3rem 0.3rem 0.3rem 0;
    display: inline-block;
    text-align: center;
}

.content-navigation ul li a {
    display:block;
    padding:0 0.2rem;
    font-weight: bold;
    border-bottom: 3px solid transparent;
    text-align: center;
    font-size: 0.7rem;
}

.content-navigation ul li a svg {
    display:block;
    margin: auto;
}

.content-navigation ul li a.active {
    border-bottom: 3px solid #ccc;
}

.content-navigation ul li a:hover {
    border-bottom: 3px solid #fefefe;
}

figure {
    margin: 1rem 0;
}

figcaption {
    background-color: #111;
    text-align: left;
    max-width: 722px;
    margin: 0 auto;
    padding: 0.6rem;
}


.adaptimg {
    display: block;
    max-height: 98vh;
    max-width: 100%;
    width:auto;
    height:auto;
    margin: 0 auto;
    padding: 0;
    outline: 1px solid #000;
}

.follow {
    cursor:pointer;
    display:block;
    text-align:right;
    margin: 0.6rem 0;
    font-size: 0.8rem;
}

.follow a,
.more a,
.pagination a {
    padding: 0 0 0.3rem 0;
    border-bottom: 3px solid #999;
}

.follow a:hover,
.more a:hover,
.pagination a:hover {
    border-bottom-color: #000;
}

.more {
    display:block;
    font-weight:bold;
}

.more a:before {
    content:'Continue \00BB';
}

.pagination ul {
    text-align:center;
    list-style-type: none;
    font-size: 1.2rem;
}

.pagination li {
    display:inline-block;
}

.pagination a,
.pagination span {
    padding: 0.3rem 0.6rem;
}

.exif {
    font-size: 0.7rem;
    margin-top: 0.3rem;
}

.hide,
.exif dt {
    display: none;
    visibility: hidden;
}

.exif dd {
    display: inline-block;
    margin: 0 0.6rem 0 0;
}

.w25,
.w33 {
    display: inline-block;
    height: auto;
}

.w33 {
    width: 32%;
}
.w25 {
    width: 24%;
}

.u-in-reply-to::before {
    content: 'RE:';
    dislay: inline-block;
    margin-right: 0.3rem;
    font-weight: bold;
}


.search-section {
    margin-bottom: 1rem;
}

.search-section summary {
    border-bottom: 2px solid #999;
    padding: 0.3rem 0;
    font-weight: bold;
}

.search-section li {
    margin: 1rem 0.6rem;
}

.replies ol {
    margin: 0 0 0 1rem;
}

.replies li {
    margin: 0 0 1rem 0;
}

.replies li .p-author:before {
    content: '\00B7';
    margin: 0 0.3rem;
}

.replies li time {
    font-size: 0.8rem;
}

.replies li .source {
    display: block;
}

.reactions dl dt,
.reactions dl ul time {
    display:none;
    visibility: hidden;
}

.reactions dl ul,
.reactions dl ul li {
    list-style-type: none;
    display: inline-block;
    padding: 0;
    margin: 0 1rem 0 0;
}

.donation {
    text-align: center;
}

.donation p {
    color: #ccc;
}

.donation ul {
    list-style-type: none;
    padding: 0 0 1rem 0;
}

.donation li {
    display: inline;
}

.donation li a {
    display: inline-block;
    border: 1px dashed #933;
    padding: 0.6rem;
    background-color: #111;
    width: 5rem;
}

.donation li a:hover {
    border: 1px solid #933;
    color: #fff;
}

/* above is mobile first; this is the desktop */
@media all and (min-width: 50rem) {

    .content-navigation ul li a {
        font-size: 0.9rem;
    }
    .content-navigation ul li a svg {
        display:inline-block;
    }

    .search-form,
    .content-navigation {
        display:inline-block;
    }

    .search-form {
        float:right;
        margin: 0.1rem;
    }

}


@media print {
    * {
       background-color: #fff !important;
        color: #222;
    }

    html, body {
        font-size: 10pt !important;
        text-shadow: unset !important;
    }

    @page {
        margin: 0.5in;
        orphans: 4;
        widows: 3;
    }

    .limit,
    .content-body {
        max-width: 100% !important;
        margin: 0 !important;
    }

    h1, h2, h3, h4, h5, h6 {
        page-break-after: avoid;
    }

    p, li, blockquote, figure, .footnotes {
        page-break-inside: avoid !important;
    }
    
    figure {
        max-height: 45vh;
    }

    a {
        border: none;
        color: #000;
    }

    .content-note, .content-header, .content-footer,
    video, audio,
    .footnotes ol li a[href^="#"],
    .footnotes ol li a[href^="#"]:after {
        display:none;
        visibility: hidden;
    }

    .footnotes ol li a {
        display: block;
        overflow: visible;
        white-space: normal;
        border: none;
    }

    pre.sourceCode, code, pre {
       color: #222;
       word-break: break-all;
       word-wrap: break-word;
       overflow: initial;
       line-height: 1rem;
       page-break-inside: enabled;
    }

    code.sourceCode span    { color: black; }
    code.sourceCode span.al { color: black; }
    code.sourceCode span.at { color: black; }
    code.sourceCode span.bn { color: black; }
    code.sourceCode span.bu { color: black; }
    code.sourceCode span.cf { color: black; }
    code.sourceCode span.ch { color: black; }
    code.sourceCode span.co { color: darkgray; }
    code.sourceCode span.dt { color: black; }
    code.sourceCode span.dv { color: black; }
    code.sourceCode span.er { color: black; }
    code.sourceCode span.ex { color: darkorange; }
    code.sourceCode span.fl { color: black; }
    code.sourceCode span.fu { color: darkorange; }
    code.sourceCode span.im { color: black; }
    code.sourceCode span.kw { color: darkcyan; }
    code.sourceCode span.op { color: black; }
    code.sourceCode span.ot { color: black; }
    code.sourceCode span.pp { color: black; }
    code.sourceCode span.sc { color: black; }
    code.sourceCode span.ss { color: black; }
    code.sourceCode span.st { color: magenta; }
    code.sourceCode span.va { color: darkturquoise; }
}
	
	
	
	