* {
  background-color: #fff !important;
  color: #222;
}

html, body {
  font-size: 11pt !important;
  font-family: Helvetica, sans-serif !important;
}

@page {
  margin: 0.6in 0.5in;
}

.limit,
body > section {
  max-width: 100% !important;
  margin: 0 !important;
}

h1, h2, h3, h4, h5, h6 {
  page-break-after: avoid;
}

h3,
a,
.footnotes ol li a,
.h-feed .h-entry,
code,
pre {
  border: none;
}

p, li, blockquote, figure, .footnotes {
  page-break-inside: avoid !important;
}

a {
  color: #000;
}

td, th {
  border: 1pt solid #666;
}

.footnote ol li a {
  display: block;
  overflow: visible;
  white-space: normal;
}

body > header,
body > footer,
video,
audio,
.footnote-backref,
.donation,
.noprint {
  display:none !important;
}

code, pre {
   max-width: 96%;
   page-break-inside: enabled;
   font-family: "Courier", "Courier New", monospace !important;
}

pre {
  border: 1pt dotted #666;
  padding: 0.6em;
}

.adaptimg {
  max-height: 35vh;
  max-width: 90vw;
  outline: none;
  border: 1px solid #000;
}

.h-feed .h-entry {
  page-break-after:always;
}
