body {
  color: #000;
  background-color: #eee;
}

a {
  color: #3173b4;
}

a:hover {
  color: #014384;
  border-bottom-color: #014384;
}

#header a:hover {
  border-bottom-color: #eee;
}

code,
pre {
  color: #006400;
}

button svg {
  transform: rotate(180deg);
  transition: all 0.2s;
}

blockquote {
  color: #555;
}

td, th {
  border: 1px solid #111;
}

th, tr:nth-child(even) {
  background-color: rgba(0, 0, 0, .1);
}

pre > code::before {
  color: #444;
}    

.footnotes hr::before {
  color: #222;
}

#header,
#footer {
  background-color: #333;
  color: #ccc;
}

#header a,
#footer a,
#theme input + label {
  color: #71B3F4;
}

input {
  background-color: #222;
}

#footer a:hover {
  color: #fff;
  border-bottom: 1px solid #fff;
}      

#pagination a {
  border-bottom: 1px solid #3173b4;
}

#comments .u-url:hover,
#main a:hover,
#pagination a:hover {
  border-bottom: 1px solid #014384;
}        