* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Courier New", monospace;
  margin: 0;
  padding: 0;
  line-height: 1.5em;
}

body {
  color: #eee;
  background-color: #222;
}

dt {
  font-weight: bold;
}

h2, h3, h4, h5, h6, hr,
dt {
  margin: 2em 0 0.6em 0;
}

p {
  margin: 1em 0;
}

h1 {
  text-transform:uppercase;
  text-align: center;
  margin: 1em 0 2em 0;
}

hr {
  border: none;
  border-bottom: 1px dotted #999;
}

svg {
  transform: rotate(0deg);
  fill: currentColor;
  vertical-align:middle;
}

body > svg {
  display: none;
  visibility: hidden;
}

a {
  color: #f90;
  text-decoration: none;
  border-bottom: 1px none #f90;
}

a:hover {
  color: #eee;
  border-bottom: 1px solid #eee;
}

sup {
  vertical-align: unset;
}

sup:before {
  content: '[';
}

sup:after {
  content: ']';
}

blockquote {
  border-left: 3px solid #999;
  margin: 2em 0 2em 1em;
  padding: 0 0 0 1em;
  color: #aaa;
}

input, button, label {
  -webkit-appearance:none;
}

input {
  width: 8em;
  padding: 0.3em;
  border: none;
  background-color: #555;
  color: #eee;

}

video,
figure img {
  display: block;
  max-height: 98vh;
  max-width: 100%;
  width:auto;
  height:auto;
  margin: 0 auto;
  border: 1px solid #000;
}

figure {
  margin: 2em 0;
}

figcaption {
  text-align: center;
}

.exif {
  margin-top: 1em;
  color: #666;
}

.exif * {
  display: inline-block;
}

.exif dt {
  display: none;
}

.exif dd {
  margin: 0 0.3em;
}

code, pre {
  color: #3c3;
  border: 1px solid #666;
  direction: ltr;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre-wrap;
  overflow:initial;
}

pre {
  padding: 0.6em;
  position: relative;
  margin: 1em 0;
}

code {
  padding: 0.05em 0.2em;
}

pre > code {
  border: none;
}

pre > code::before {
  content: attr(lang);
  float: right;
  color: #999;
  border-left: 1px solid #666;
  border-bottom: 1px solid #666;
  padding: 0 0.3em;
  margin: -0.6em -0.6em 0 0;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  padding: 0.3em;
  border: 1px solid #777;
  text-align:left;
}

th {
  font-weight: bold;
}

th, tr:nth-child(even) {
  background-color: rgba(255, 255, 255, .1);
}

#main ul {
  margin-left: 2em;
}

#main ol {
  margin-left: 2em;
}

li p {
 margin: 0;
}

.footnotes hr:before {
  content: 'Links';
  color: #ccc;
  font-weight: bold;
}

#comments .u-url,
.footnotes a {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  vertical-align: top;
  max-width: 96%;
  border-bottom: 1px solid rgba(255, 153, 0, 0);
}

.footnotes a:hover {
  border-bottom: 1px solid #eee;
}

.footnote-back {
  margin: 0 0 0 0.6em;
}

#pagination ol,
.footnotes ol,
#header ul,
#footer ul {
  list-style-type: none;
  margin: 0;
}

#header li,
#footer li {
  display: inline-block;
}

#footer p {
  margin:0.3em;
}

#header a {
  border-bottom: 3px none #eee;
  padding-bottom: 0.1em;
}

#header a.active,
#header a:hover {
  border-bottom-style: solid;
  color: #eee;
}

.h-card img {
  height: 1em;
}

#pagination {
  text-align: center;
}

#pagination li {
  display: inline-block;
  padding: 0.3em;
}

#pagination a {
  border-bottom-style: solid;
}

#header,
#footer {
  background-color: #111;
  
  padding: 0.6em 1em;
}

#footer {
  text-align: center;
}

#header > *,
#footer > * {
  max-width: 54em;
  margin: 0 auto;
}

#pagination,
#main {
  margin:0 auto;
  max-width: 54em;
  padding: 1em 0.3em;
}

#header #header-forms {
  float: right;
}

#header form, #header > div > * {
  display: inline-block;
}

#theme {
  margin: 0 1em;
}

#theme input, input[type=submit] {
  display: none;
}

#theme input + label {
  color: #f90;
  cursor: pointer;
  border-bottom: 3px solid transparent;
  padding-bottom: 0.1em;
  margin-left:0.6em;
}

#theme input:hover + label,
#theme input:checked + label {
  border-bottom: 3px solid #eee;
  color: #eee;
}

.h-feed .exif {
  display: none;
}

@media all and (max-width: 47em) {
  #header > * {
    display: block;
    text-align:center;
  }

  #header #header-forms {
    display: block;
    float:unset;
  }
    
  #search {
    margin-top: 0.6em;
  }

  #header a {
    display: block;
    text-align: center;
    margin-bottom: 0.6em;
  }

  #header a svg {
    display: block;
    margin: 0 auto;
  }
}            