body {
  color: #F13C20;
  background-color: #EFE2BA;
}

a {
  color: #3C20F1;
}

a:hover {
  color: #1C00D1;
  border-bottom: 1px solid #1C00D1;
}

code,
pre {
  color: #006400;
}

button svg {
  transform: rotate(180deg);
  transition: all 0.2s;
}

blockquote {
  color: #555;
}

td, th {
  border: 1px solid #111;
}

th, tr:nth-child(even) {
  background-color: rgba(0, 0, 0, .1);
}

pre > code::before {
  color: #444;
}

.footnotes hr::before {
  color: #222;
}

.header,
.footer{
  background-color: #D79922;
  color: #F13C20;
}

.footer a:hover,
.header a:hover {
  color: #F13C20;
  border-bottom-color: #F13C20;
}

.header a.active {
  color: #F13C20;
  border-bottom-color: #F13C20;
}

input {
  background-color: #EFE2BA;
  color: #F13C20;
}

.pagination a {
  border-bottom: 1px solid #F13C20;
}