<figure class="photo">
{% if href != src %}
    <a href="{{ href }}">
{% endif %}
        <img src="{{ src }}" title="{{ title }}" alt="" width="{{ width }}" height="{{ height }}" {% if is_mainimg %}itemprop="image" class="u-featured" property="u-featured"{% endif %} />
{% if href != src %}
    </a>
{% endif %}
    <figcaption>
        <span class="alt">{{ caption }}</span>
{% if is_photo %}
        <dl class="exif">
            <dt>Camera</dt>
            <dd>
                <svg width="16" height="16">
                    <use xlink:href="#icon-camera" />
                </svg>
                {{ exif.camera }}
            </dd>
            <dt>Aperture</dt>
            <dd>
                <svg width="16" height="16">
                    <use xlink:href="#icon-aperture" />
                </svg>
                f/{{ exif.aperture }}
            </dd>
            <dt>Shutter speed</dt>
            <dd>
                <svg width="16" height="16">
                    <use xlink:href="#icon-clock" />
                </svg>
                {{ exif.shutter_speed }} sec
            </dd>
            <dt>Focal length (as set)</dt>
            <dd>
                <svg width="16" height="16">
                    <use xlink:href="#icon-focallength" />
                </svg>
                {{ exif.focallength }}
            </dd>
            <dt>Sensitivity</dt>
            <dd>
                <svg width="16" height="16">
                    <use xlink:href="#icon-sensitivity" />
                </svg>
                ISO {{ exif.iso }}
            </dd>
            <dt>Lens</dt>
            <dd>
                <svg width="16" height="16">
                    <use xlink:href="#icon-lens" />
                </svg>
                {{ exif.lens }}
            </dd>
        </dl>
{% endif %}
{% if onlinecopies|length > 1 %}
<ul>
{% for copy in onlinecopies %}
    <li><a href="{{ copy }}">[{{ loop.index }}]</a></li>
{% endfor %}
</ul>
{% endif %}
    </figcaption>
</figure>
