<figure class="photo">
{% if photo.target %}<a href="{{ photo.target }}" class="{{ photo.css }}">{% endif %}
<img src="{{ photo.src }}" title="{{ photo.title }}" alt="{{ photo.alt }}" class="adaptimg" />
{% if photo.target %}</a>{% endif %}
<figcaption>
{{ photo.alt }}{% if photo.is_photo %}<span class="author"> - photo by {{ photo.author }}</span>
<dl class="exif">
{% if photo.exif.camera %}
<dt>Camera</dt>
<dd><svg class="icon"><use xlink:href="#icon-camera" /></svg>{{ photo.exif.camera }}</dd>
{% endif %}
{% if photo.exif.aperture %}
<dt>Aperture</dt>
<dd><svg class="icon"><use xlink:href="#icon-aperture" /></svg>f/{{ photo.exif.aperture }}</dd>
{% endif %}
{% if photo.exif.shutter_speed %}
<dt>Shutter speed</dt>
<dd><svg class="icon"><use xlink:href="#icon-clock" /></svg>{{ photo.exif.shutter_speed }} sec</dd>
{% endif %}
{% if photo.exif.focal_length %}
<dt>Focal length (as set)</dt>
<dd><svg class="icon"><use xlink:href="#icon-focallength" /></svg>{{ photo.exif.focal_length }} mm</dd>
{% endif %}
{% if photo.exif.iso %}
<dt>Sensitivity</dt>
<dd><svg class="icon"><use xlink:href="#icon-sensitivity" /></svg>ISO {{ photo.exif.iso }}</dd>
{% endif %}
{% if photo.exif.lens %}
<dt>Lens</dt>
<dd><svg class="icon"><use xlink:href="#icon-lens" /></svg>{{ photo.exif.lens }}</dd>
{% endif %}
</dl>
{% endif %}
</figcaption>
</figure>
